<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>login</h2>
      <form th:action="@{/logintest}" method="Get">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pasword" placeholder="Password" />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
