<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container text-center" style="margin-top: 200px">
      <h2 style="margin-bottom: 50px;">Register</h2>
      <form th:action="@{/register}" th:object="${user}" method="POST">
        <div class="mb-3">
          <div class="form-group row">
            <label for="exampleInputEmail1" class="col-form-label col-4"
              >Email address</label
            >
            <div class="col-6">
              <input
              th:field= "*{email}"
                type="email"
                name="email"
                class="form-control"
                id="inputEmail1"
                aria-describedby="emailHelp"
                required
              />
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="form-group row">
            <label for="inputPassword" class="col-form-label col-4"
              >Password</label
            >
            <div class="col-6">
              <input
              th:field= "*{password}"
                type="password"
                name="password"
                class="form-control"
                id="inputpassword"
              />
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-outline-success"
          style="margin-bottom: 10px"
        >
          Submit
        </button>
        <div><a th:href="@{/login}">has an account</a></div>
      </form>
    </div>


         <!-- this is footer  -->
    </div>
    <div style=" position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; "><nav class="navbar navbar-light fixed-buttom bg-dark">
      <div class="container-fluid text-center">
        <a class="navbar-brand" style="color: #fff" href="#"
          >@2022 copyright by PetGo</a
        >
      </div></div>
    
    </nav>
          <!-- this is footer  -->
  </body>
</html>
